* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
}

body {
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
}

main {
  background: #FFFFFF;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  width: 327px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#div-img {
  width: 237px;
  height: 139.37px;
}

section {
  width: 279px;
  height: 355px;
}

#img-pattern {
  position: absolute;
}

#img-online {
  position: relative;
  top: -110px;

}

section > h1 {
  text-align: center;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1E1F36;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 17px;
  list-style: none;
}

li > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.arrow {
  width:8px;
  height:4px
}

h2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4B4C5F;
}
